#root {
  margin: 0 auto;
  text-align: center;
}

:root{
  --header-color: white;
  --header-text: black;
  
}

a{
  text-decoration: none;
}

a:visited{
  color: var(--header-text);
}

a:hover{
  color: rgb(173, 173, 173);
}